<div>
    <div class="feature-class WV_Wells">
        Well
    </div>
    <div class="item">
        <a href="http://www.senecainfo.com/wellinfo/pdf_fe47s.asp?listPDF={{properties.api}}" target="_new"><B>CLICK TO VIEW WELL DOCUMENTS</B></a>
    </div>
    <div class="item">
        <label>API:</label>{{properties.api}}
    </div>
    <div class="item">
        <label>Operator:</label>{{properties.operator}}
    </div>
    <div class="item">
        <label>Well Status:</label>{{properties.wellstatus}}
    </div>
    <div class="item">
        <label>Farm Name:</label>{{properties.farmname}}
    </div>
    <div class="item">
        <label>Well Number:</label>{{properties.wellnumber}}
    </div>
    <div class="item">
        <label>Drill Date:</label>{{properties.drill_date}}
    </div>
    <div class="item">
        <label>County:</label>{{properties.county}}
    </div>
    <div class="item">
        <label>District:</label>{{properties.district}}
    </div>
    <div class="item">
        <label>Quadrangle:</label>{{properties.quad}}
    </div>
    <div class="item">
        <label>Deapth:</label>{{properties.deapth}}
    </div>
    <div class="item">
        <label>Elevation:</label>{{properties.elevation}}
    </div>
    <div class="item">
        <label>Latitude (Nad27):</label>{{properties.latdd27}}
    </div>
    <div class="item">
        <label>Longitude (Nad27):</label>{{properties.londd27}}
    </div>
    <div class="item">
        <label>Target Formation:</label>{{properties.targetform}}
    </div>
</div>
